@model SecurityWebApp.Data.Model.AppUser

@{
  ViewData["Title"] = "Deletar " + Model.UserName;
}

<h3 class="text-purple mt-5">Tem certeza que deseja deletar?</h3>
<div class="container form-vertical m-0 p-0">
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.UserName)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.UserName)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Email)
    </dd>
  </dl>

  <form asp-action="DeleteConfirmed" class="form-vertical">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Excluir" class="form-row btn btn-danger" />
    <hr />
    <div class="form-row">
      <br />
      <a asp-action="Index">Voltar</a>
    </div>
  </form>
</div>
