.border-purple {
  border: 1px rgb(113, 89, 193);
}

.card.border-purple:hover {
    border-style: double;
    cursor: pointer;
}

.flex-1 {
  flex: 1;
}

.card > a {
  padding: 6px 22px;
  font-weight: bold;
  transform: scale(1.1);
}

.tooltip-inner {
}

.floating-button {
  all: unset;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .3), 1px 0px 0px rgba(86, 86, 86, 0.3), -2px -1px 0px rgba(86, 86, 86, 0.3);
  color: rgb(113, 89, 193) !important;
  position: fixed;
  background-color: #FFF;
  border-radius: 66%;
  padding: 1.11% 1.5%;
  left: 92%;
  z-index: 9999;
  font-size: 1.2em;
  bottom: 3%;
  overflow: hidden;
  cursor: pointer;
}
  .floating-button:hover {
    color: rgb(113, 89, 193) !important;
    background-color: #FFF;
    padding: 1.11% 1.5%;
    transform: scale(1.1);
  }