/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  /*background: rgb(113, 89, 193) !important;*/
  background: #fff !important;
}

canvas {
  position: absolute;
  top: 7.4%;
  left: 0;
  right: 0;
  height: 85vh;
  width: 100%;
}

nav, footer{
  background: #000 !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid rgb(113, 89, 193) !important;
}

.border-bottom {
  border-bottom: 1px solid rgb(113, 89, 193) !important;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 62px;
  line-height: 60px; /* Vertically center the text there */
}

a {
  border-radius: 9px;
  color: #7159c1 !important;
  transition: all 0.45s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  text-decoration: none !important;
}

  a:hover {
    background: #7159c1;
    color: white !important;
    padding: 6px 22px;
    font-weight: bold;
    transform: scale(1.1);
  }

button, input[type="submit"] {
  display: inline-block;
  line-height: 50px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: rgb(255, 255, 255) !important;
  background-color: #7159c1 !important;
  margin: 15px 0px 0px;
  padding: 0px 30px;
  text-decoration: none !important;
  border-radius: 5px !important;
  transition: all 200ms linear 0s !important;
  border-color: #694fbf !important;
}

  button:hover, input[type="submit"]:hover {
    font-size: 1.3em !important;
    background-color: #00d1b2 !important;
    color: #fff !important;
    border: none;
  }

.text-purple {
  color: rgb(113, 89, 193) !important;
}
