@model SecurityWebApp.Data.Model.Star

@{
    ViewData["Title"] = "Delete";
}

<h3 class="text-purple mt-5">Tem certeza que deseja deletar?</h3>
<div class="container form-vertical m-0 p-0">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
    </dl>
    
    <form asp-action="Excluir" class="form-vertical">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="form-row btn btn-danger" />
          <hr />
        <div class="form-row" >
          <br />
          <a asp-action="Index">Voltar</a>
        </div>
    </form>
</div>
